html{font-family:"Bliss-Bold","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;}

#wrapper{width: 960px; margin: 0 auto; height:auto}

#title{font-size: 80px; text-align: center; color:white; padding: 10px 0px 0px 0px; margin: auto}

#main_heading{font-size: 45px; margin-left: auto ; margin-right: auto; text-align: center}

#mh{margin: -20px 0 -20px 150px; height: auto;width: auto}

nav{float: left}

/* NAV HEADER */
#nav_heading{color: white; text-align: center }

/* HEADER/NAV COLOUR */
nav,header{background-color: #f14a51;}


/* HEADER/NAV SIZE */
header{height: 100px ; width: auto }
nav   {height: 1050px ; width: 150px}


/* LOGO */
#logo{float: left; margin: 0px 0px 0px 25px}
#logo{width: 100px ;height: 100px;}


/* QUICK LINK MENU */
#quick_links{list-style-type: none; text-align: center; padding: 0;margin: 0 ; font-size: 19px}

li{padding: 10px;}


/* HYPERLINK COLOUR/DESIGN */
a         {text-decoration: none}
a:visited {color: white;}
a:hover   {color: white;}
a:active  {color: white;}
a:link    {color: white;}


/* ORDER FORM */
#order_form {width: 45%;float: left; margin-left: 20px; font-size: 20px }

#pizza_size,#toppings,#extras,#delivery_info,#current_order2{background-color: #ddd; margin-bottom: 30px}

.option_heading{font-weight: 900}

.options{margin: -10px 10px 0px } 

#current_order {width: 35%;height: auto; float: left; margin-left: 20px; font-size: 20px }

/*INDEX*/
#current_time{text-align: right; margin-right: 20px; margin: 0 10px 0 0}

#rollover_imgs{width: auto ; margin-left: 175px}

.main_txt{font-size: 20px; text-align: center}

.main_img{height: 188px ; width: 375px}

#pizza_slide{width: 750px; height: 375px; margin: 0 0 0 25px}

#img_pizza3{margin-left: 25px}

/*CONTACT*/
#contact_form{margin: 0 0 0 275px; padding: 10px}

td{padding-bottom:  10px ; font-size: 25px ; }

.cf{; width: 300px ; font-size: 20px}

#map_div{margin-left: 150px;}

#map{width: 750px; height: 400px; margin: 0 0 20px 30px}

#submit{width: 200px; height: 40px; font-size : 25px ; float: right }

#contact_sub_head{font-size: 30px; margin-left: 350px}

#error_msg_1{display: none ;background-color: #f14a51; color: white;}

#b{color: white}

/* FOOTER */
footer{width: 100% ; height: 100px;background-color: #ddd}

footer{margin: auto; padding:inherit; display: inline-block}

footer ul{margin: 0px 0px 0px 350px;}

footer li{float:left;}

footer li a {color: white; padding: 16px; display :block; text-align: center; text-decoration: none;}

#footer_list{list-style-type: none; text-align: center; padding: 0;margin: 0;}

#fl{width: 400px; margin-left: auto; margin-right: auto ; font-weight: 800;}
